= form_for(@item) do |f|
  

  %h2= @title unless @title == ""
  
  %p.required
    = f.text_field :title, :size => nil, :id => "title", :class => "text title"

  %p.submit
    = f.submit t('action.save'), :class=> 'button'
    %span
      = t('action.or')
      = link_to_function t('action.cancel'), "hideEditor()"
