= form_for(@item) do |f|
  

  %h2= title
  
  %p.required
    = f.text_field :title, :size => nil, :class => "text title"

  %p.submit
    = f.submit t('action.save'), :class=> 'button'
    tai
    = link_to_function "Peruuta", "hideEditor()"
