%li
  .line-content
    - if !item.done?
      .date
        %span{:class => "date"}= date_status(item) 
      = link_to "#{t('items.show.remember_to')}: #{item.title}", edit_item_path(item), :class => "item", :remote => true
    - else
      .date
        %span{:class => "date"}= date_status(item)
      = link_to "#{t('items.show.done')}: #{item.title}", edit_item_path(item), :class => "item", :remote => true    
    %span= link_to button_name(item), done_item_path(item), :class => "button"
    %span= link_to "Delete", @item, :method => :delte, :confirm => "Are you sure", :class => "button delete"
