!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}
    %meta{ :content => "en", :"http-equiv" => "Content-Language" }
    %title EfiCode Todo
    
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = stylesheet_link_tag 'reset', 'screen'
    
  %body

    #header
      %h1
        - if current_user
          = current_user.login
        -else
          EfiCode Tehtävämuistio
      %address.watermark
        = link_to t('action.logout'), user_session_path, :method => :delete if current_user

    #wrapper
      #editor{:style => "display:none;"}

      #content= yield


